
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;
background-color: #171818;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

canvas {
position: fixed;
top: 0;
left: 0;
z-index: 9;
}

nav {
  position: fixed;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 50px;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 9999px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.334);
  a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  a:hover {
    color: #00ff99;
    transition: all 0.3s linear;
  }
  
}

#hero_text {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#hero_text h1 {
  font-size: 50vh;
  font-weight: 700;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  #hero_text {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  nav {
    top: 4px;
  }
  #hero_text {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-size: 20vh;
    }
  }
}